{% extends 'base.html.twig' %}

{% block title %}Adopter un animal{% endblock %}

{% block content %}
    {% include "pet/carrousel.html.twig" %}

    {% for message in app.flashes('pet-danger') %}
        <div class="text-danger">
            {{ message }}
        </div>
    {% endfor %}

    {% for pet in pets %}
        <div class="container-fluid">
            {{pet.name}}
            {{pet.species}}
            {{pet.breed}}
            <a  role="button" class="btn btn-outline-dark" href={{ path('pet', { 'id': pet.id }) }} >  En savoir plus</a>
        </div>    
    {% else %}
        <p> Pas d'animaux a adopter actuellement </p>
    {% endfor %}

    {% if is_granted("ROLE_ADMIN") %}
        <a  role="button" class="btn btn-outline-dark" href={{ path('new_pet') }}> Ajouter un pet</a>
    {% endif %}
    
{% endblock %}
