{% extends 'base.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block content %}
    {% for message in app.flashes('product-danger') %}
        <div class="text-danger">
            {{ message }}
        </div>
    {% endfor %}

    {% include "product/carrousel.html.twig" %}

    {% for product in products %}
        <div class="container-fluid">
            {{product.name}}
            {{product.description}}
            {{product.price}}
            <a  role="button" class="btn btn-outline-dark" href={{ path('product', { 'id': product.id }) }} >  En savoir plus</a>
        </div>    
    {% else %}
        <p> Pas de produits disponible </p>
    {% endfor %}

    {% if is_granted('ROLE_ADMIN') %}
        <a  role="button" class="btn btn-outline-dark" href={{ path('new_product') }}> Ajouter un produit</a>
    {% endif %}
{% endblock %}
