{% extends 'base.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block content %}

    {% if is_granted('ROLE_ADMIN') %}
        <div class="buttons-wrapper">
            <a  role="button" class="btn btn-outline-dark" href={{ path('new_product') }}> Ajouter un produit au magasin</a>
        </div>
    {% endif %}

    {% for message in app.flashes('product-danger') %}
        <div class="text-danger">
            {{ message }}
        </div>
    {% endfor %}

    {% include "product/carrousel.html.twig" %}

    <div class="container-fluid">
    <h1>Tous nos articles</h1>
        <div class="cards-wrapper">
            {% for product in products %}
                <div class="card p-2">
                    <img src={{asset('img/upload/'~product.image)}} alt="product">
                    <div class="card-body">
                        <h5 class="card-title">{{product.name}}</h5>
                        <h6 class="card-subtitle text-primary">{{product.price}} €</h6>
                        <p class="card-text">{{product.description}}</p>
                        <div class="buttons-wrapper">
                            <a  role="button" class="btn btn-outline-dark" href={{ path('product', { 'id': product.id }) }} >  En savoir plus</a>
                            <a  role="button" class="btn btn-dark" href="#" >  Ajouter au panier</a>
                        </div>
                    </div>
                </div>
            {% else %}
                <p> Pas de produits disponibles </p>
            {% endfor %}
        </div> 
    </div>
    
{% endblock %}
