{% extends 'base.html.twig' %}

{% block title %} {{article.title}} {% endblock %}

{% block content %}
    <p>{{ article.title }}</p>
    <p>{{ article.description }}</p>
    <p>{{ article.createdAt|date("d/m/Y") }}</p>
    <a  role="button" class="btn btn-outline-danger" href={{ path('delete_article', { 'id': article.id }) }} > (Admin) Supprimer article</a>
    <a  role="button" class="btn btn-outline-warning" href={{ path('update_article', { 'id': article.id }) }}  > (Admin) Modifier article</a>
    <a  role="button" class="btn btn-outline-secondary" href={{ path('blog') }}> Retour aux articles </a>
{% endblock %}
